{# app/Resources/views/experiment/new.html.twig #}
{% extends 'base.html.twig' %}	
	{% block title %}POEM - New Experiment{% endblock %}
	{% block outerDiv %}
			<div class="experiment-form-div">
            {% block mainTitle %}
            	<h1>New Experiment</h1>
            {% endblock %}
            {% block body %}{% endblock %}
            </div>
    {% endblock %}